.top{
    display:flex;
    width:100%;
   
    justify-content: space-evenly;
    margin-top:50px;
}
 #right{
    background-color:white;
    
}
#left {
    background-color: white;
    
}
#left h4 {
  color:gray;
}
#left h3{
    color:gray;
}
@media(max-width:600px){
    .top{
        flex-direction: column;
    }
    #left h3{
        margin-top:30px;
    }
    #left{
      margin-left: 20px;  
    }
    #right img{
        margin:20px;
    }
}
#bottom{
    display: flex;
    justify-content: space-evenly;
    margin-top:50px;
    margin-left:80px;
}
@media(max-width:600px){

    #bottom{
        flex-direction: column;
        margin-left:0px;
    }
    #bot-right{
        margin-top:30px;
    }
    #bot-right h3{
        font-size: 15px;
    }
    #bot-right img{
        width: 200px;
    }
}